<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cordovacache.test" version="0.0.1"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>cordovaCache Jasmine Unit Tests</name>
    <description>
		Cordova App for running Jasmin unit test on cordovaCache
    </description>
    <author email="email@email.org" href="http://none.io">
        Test Suite
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
